MONGODB_URI=*********************
PORT=3000

JWT_SECRET=**************
JWT_EXPIRES_IN=7d
CLIENT_URL=**************

IMAGEKIT_PUBLIC_KEY=p***********
IMAGEKIT_PRIVATE_KEY=****************
IMAGEKIT_URL_ENDPOINT=************